
.header  {
  background-color:darkred;
  height: 8vh;
  padding: 1rem;
  font-size: 2rem;
  justify-content: center;
}

.container-outer {
  /* border:.5rem solid black; */
  display: flex;
  justify-content: center;
}

.container-inner {
  width: 90vw;
  /* border:.5rem double gold;  */
  background-color: lightgray;
  padding:2rem;
}