.header  {
  background-color:darkred;
  height: 15vh;
  padding: 1rem;
  justify-content: center;
  padding-left: 2rem;
}

.header h1{
  background-color: rgba(255, 255, 255, .8);
  color:darkred;
  font-weight: bold;  
  font-size: 3rem; 
  display: flex;
}

.container-outer {
  display: flex;
  justify-content: left;
}

.container-inner {
  width: 100%;
  background-color: lightgray;
  display: flex;
  padding-left: 2rem;
}

#displayMovies {
  width: 100%;
  background-color: lightgray;
  display: flex;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

@media (max-width: 800px) {
  body {
    flex:100%;
  }
}

@media (min-width:100px) {
  body {
    flex:20%;
  }
}